
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.background {
  background-size: cover;
  position: relative;
  backdrop-filter: blur(100px);
}

.background-blur{
  backdrop-filter: blur(100px);
}